name: SonarCloud
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: Build and analyze
    runs-on: windows-latest
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~\sonar\cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Install SonarCloud scanner
        shell: pwsh
        run: |
          dotnet tool install --global dotnet-sonarscanner
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        shell: pwsh
        run: |
          dotnet sonarscanner begin /k:"8458697-ai_SonarCloud-DotNet-Demo" /o:"8458697-ai" /d:sonar.token="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.cs.vscoveragexml.reportsPaths=coverage.xml
          
          dotnet build NetSdrClient.sln --configuration Release
          
          # Запуск тестів та створення звіту про покриття
          dotnet test NetSdrClient.sln --collect:"Code Coverage" --results-directory ./TestResults
          
          # Конвертація звіту для SonarCloud (важливо для відображення відсотків)
          Get-ChildItem -Path ./TestResults -Filter "*.coverage" -Recurse | % {
            $path = $_.FullName
            dotnet tool install --global dotnet-coverage
            dotnet-coverage merge $path --output coverage.xml --output-format xml
          }

          dotnet sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
